/**************************
コンテナ設定
**************************/
.centeredContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh;
    width: 100vw; */
    overflow: hidden;
    /* background-color: magenta; */
}

/* Top Bar */
.topBar {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-sizing: border-box;
    /* background-color: tomato; */
}

.image {
    height: 5vh;
    max-height: 10vh;
    margin-right: 3rem;
}

/* Text Field */
.queryFlex {
    display: flex;
    flex: 1;
}

.textField {
    width: 40vw;
    max-width: 100%;
}

/* Toggle Switch */
.switchLabelContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.switchLabel {
    font-size: 14px;
}

/* Content Item */
.contentContainer {
    width: 70vw;
    margin-top: 2rem;
    overflow-y: auto;
    flex-grow: 1;
    padding-bottom: 2rem;
}

.contentItem {
    border: 2px solid #ccc;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #65c3b0;
}

.author {
    font-size: 1rem;
    color: #555;
}

.abstract {
    font-size: 0.9rem;
    width: 60%;
    color: #777;
}

.meta {
    font-size: 0.8rem;
    color: #999;
    margin-top: 0.5rem;
}

/**************************
ディスプレイごとの設定
**************************/

/* Desktop ビューポート幅 : 1200px~ */
@media (min-width: 1200px) {
    .queryFlex {
        width: 80vw;
    }
}

/* Tablet ビューポート幅 : 600px~1200px */
@media (min-width: 600px) and (max-width: 1200px) {
    .queryFlex {
        width: 50vw;
    }
}

/* Mobile ビューポート幅 : ~600px */
@media (max-width: 600px) {
    .queryFlex {
        width: 100vw;
    }

    .textField {
        width: 80vw;
        max-width: 100vw;
    }

    .switchLabelContainer {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        margin-left: 0;
    }
}
