/**************************
コンテナ設定
**************************/
.centeredContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100vh;*/
    width: 100%;
    overflow: hidden;
    /* background-color: magenta; */
}

/* Top Bar */
.topBar {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    box-sizing: border-box;
    /* background-color: green; */
}



/*Image*/
.image {
    height: 5vh;
    max-height: 4.5rem;
    margin-right: 3vw;
    padding-left: 4vw;
}


/* Text Field */
.queryFlex {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 60%;
    /* 必要に応じて幅を変更 */
    padding-left: 5vw;
}

.textField {
    max-height: 3rem;
    min-height: 2rem;
    height: 3vh;
    width: 60vw;
    /* 必要に応じて幅を変更 */
    max-width: 100%;
}

/* Toggle Switch */
.switchLabelContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    width: 30%;
    /* 必要に応じて幅を変更 */
    justify-content: flex-end;
    /* 追加: 右端に寄せる */
}

/*count bar*/
.countBar {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 4rem;
    box-sizing: border-box;

    /* background-color: #f5f5f5;*/
}

/* Main Container */
.mainContainer {
    display: flex;
    width: 100vw;
    height: 100%;

    /* background-color: #ff0000; */
}

.contentContainer {
    height: 100%;
    width: 70vw;
    margin-top: 2rem;
    overflow-y: auto;
    flex-grow: 1;
    padding-bottom: 2rem;
    padding-left: 5vw;
    /* background-color: turquoise; */
}

/* List Container */
.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-left: 3rem;
    width: 25vw;
    height: 100%;
    overflow-y: auto;

    /* background-color: rgb(81, 255, 0); */
}

.listLabel {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-top: 1.5rem;
}

/* Array Item Container */
.arrayItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    /* max-width: 1500px;  */
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contentItem {
    border: 2px solid #ccc;
    width: 70%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    width: 70%;
    text-decoration: none;
    color: #65c3b0;
}

.author {
    font-size: 0.9rem;
    width: 80%;
    color: #555;
}

.abstract {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    width: 90%;
    color: #777;
}

.readMore {
    color: rgb(0, 252, 223);
    cursor: pointer;
    margin-left: 5px;
}

.meta {
    font-size: 1.1rem;
    color: #999;
    margin-top: 0.5rem;
}

/* Radix UI Components Styling */
.segmentedControl {
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.segmentedControlItem {
    padding: auto;
    cursor: pointer;
    /* background-color: rgb(255, 251, 0); */
}

.select {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.selectTrigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* background-color: magenta; */
}

/* Select Item */
.selectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.checkboxContainer {
    width: 80%;
    display: flex;
    /*felex column*/
    flex-direction: column;
    gap: 0.5rem;
    /* padding-top: 1rem; */
}

.checkboxCard {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

.Reloadbutton{
    display: flex;
    align-items: column;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
}

/**************************
ラベルカラー設定
**************************/




/**************************
ディスプレイごとの設定
**************************/

/* Desktop ビューポート幅 : 1200px~ */
@media (min-width: 1200px) {
    .queryFlex {
        width: 80vw;
    }

  .arrayItemContainer{
    max-width: 950px;
  }

    .listContainer {
        height: 80%;
        width: 20vw;
        /* 幅を20vwに設定 */
    }

    .checkboxContainer {
        max-width: 200px;
        width: 80%;
        display: flex;
        /*felex column*/
        flex-direction: column;
        gap: 0.5rem;
        /* padding-top: 1rem; */
    }

    .selectTrigger{
        max-width: 200px;
    }
}

/* Tablet ビューポート幅 : 600px~1200px */
@media (min-width: 600px) and (max-width: 1200px) {
    .topBar{
        min-height: 75px;
    }

    .textField {
        max-width: 600px;
    }

    .countBar{
        height: 5vh;
    }

    .arrayItemContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60vw;
        /* max-width: 1500px;  */
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .listContainer {
        height: 80%;
        width: 20vw;
        /* 幅を20vwに設定 */
    }

    .checkboxContainer {
        max-width: 150px;
        width: 80%;
        display: flex;
        /*felex column*/
        flex-direction: column;
        gap: 0.5rem;
        /* padding-top: 1rem; */
    }

    .selectTrigger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        /* background-color: magenta; */
    }
}


/* Mobile ビューポート幅 : ~600px */
@media (max-width: 600px) {
    .queryFlex {
        display: flex;
        flex-direction: column;
        /* 縦に配置 */
        align-items: center;
        /* 中央揃え */
        width: 100%;
        /* 必要に応じて幅を変更 */
        max-width: 100%;
    }

    .image {
        margin-bottom: 1rem;
        /* テキストフィールドとの間にマージンを追加 */
    }

    .topBar {
        height: 75px;
    }

    .textField {
        max-width: 100vw;
    }

    .countBar {
        height: 5vh;
    }

    .arrayItemContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60vw;
        /* max-width: 1500px;  */
        padding: 1rem;
        margin: 1rem 0;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .listContainer {
        height: 80%;
        /* width: 20vw; */
        flex-direction: row;
        /* 幅を20vwに設定 */
    }

    .checkboxContainer {
        max-width: 150px;
        width: 80%;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        /* padding-top: 1rem; */
    }

    .selectTrigger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        /* background-color: magenta; */
    }
}